* {
  box-sizing: border-box;
}

/* define colors */
:root {
  --primary: #18474d;
  --secondary: #10434b;
  --tertiary: #a1dce6;
}

body {
  color: var(--primary);
  background-color: #a1dce6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 45px;
}

/* apply styles to header */
header {
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 40%;   
}
/* header styles end */

/* apply styles to container */
.container {
  font-weight: bold;
  display: flex;
  text-align: center;
  align-items: flex-start;
}

.btnOption {
  background-color: var(--secondary);
  color: #ffff;
  padding: 10px;
}

.hidden {
  visibility: hidden;
}
