* {
  box-sizing: border-box;
}

/* define colors */
:root {
  --primary: #0e282c;
  --secondary: #10434b;
  --tertiary: #a1dce6;
}

body {
  color: var(--primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* apply styles to header */
header {
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 62.5%;   
}
/* header styles end */

/* apply styles to container */
.intro {
  font-size: 35px;
  font-weight: bold;
  display: flex;
  text-align: center;
}

.btn {
  background-color: var(--secondary);
  color: #ffff;
  padding: 10px;
}